.custom-middle>* {
    vertical-align: middle;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.footer-area {
    background-color: rgb(14, 9, 56);
    color: white;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 60vh;
    bottom: 0; */
    /* width: 100%; */
    margin-top: auto;
}

.imgclass {
    width: auto;
    height: 100px;
    margin: 30px;
}

.widget {
    position: relative;
    margin-top: 40px;
    margin-bottom: 40px;
}

.hreflink-red {
    z-index: 0;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    color: white;
    background-color: rgb(160, 4, 4);
    position: relative;
    text-align: center;
}

.hreflink-green {
    z-index: 0;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    color: white;
    background-color: rgb(4, 160, 12);
    position: relative;
    text-align: center;
}

.hreflink-blue {
    z-index: 0;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    color: white;
    background-color: rgb(35, 15, 148);
    position: relative;
    text-align: center;
}

.thumbimage {
    width: 250px;
    height: 120px;
    padding-top: 0px;
    object-fit: cover;
    position: relative;
}

.copywrite {
    z-index: 1;
    background-color: #0a0a0a;
    padding: 10px 0;
}

.copywrite .text {
    color: #777777;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 0px;
}

.section-heading {
    position: relative;
    z-index: 1;
    background-color: #fafafa;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-left: 3px solid #46ed39;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.darker {
    filter: brightness(60%);
}

.imgcontainer {
    position: relative;
    text-align: center;
    color: white;
}

.top-left {
    position: absolute;
    top: 16px;
    left: 16px;
}


/* .hreflink-red a i {
    width: auto;
    height: auto;
    padding: 5px;
    margin: auto;
    position: relative;
}

.hreflink-green a i {
    width: auto;
    height: auto;
    padding: 5px;
    margin: auto;
    position: relative;
}

.hreflink-blue a i {
    width: auto;
    height: auto;
    padding: 5px;
    margin: auto;
    position: relative;
} */